/* ==================================================
[01] MAIN
================================================== */
/* ============================ MAIN ============================ */

.hero {
  position: relative;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.hero img {
  width: 100%;
  display: block;
}
/* ==================================================
[02] INFO BAR
================================================== */

.info-bar {
  position: absolute;
  bottom: -40px;
  /* ← 이 숫자만 조절하면 원하는 위치 딱 나옴 */
  left: 50%;
  transform: translateX(-50%);
  width: min(70%, 1100px);
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #b9975b;
  color: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.signature-section {
  padding-top: 120px;
  /*값은 infp-bar + 여백*/
}

.notice-section,
.store-section {
  font-family: 'Pretendard';
  flex: 1;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.notice-section {
  background-color: #b9975b;
  z-index: 2000;
}

.store-section {
  background-color: #DBA261;
}

.label {
  font-family: 'Pretendard';
  color: #2D2929;
  font-size: clamp(1.3rem, 2vw, 2rem);
}

.title {
  font-family: 'Pretendard';
  flex-grow: 1;
  font-size: clamp(0.7rem, 1vw, 1rem);
  margin-left: 1vw;
}

.date {
  font-family: 'Pretendard';
  flex-shrink: 0;
  font-size: clamp(0.7rem, 1vw, 1rem);
}
/* ==================================================
[03] SIGNATURE
================================================== */

.signature-section {
  width: min(90%, 1188px);
  margin: 60px auto;
  padding: 0;
}

.signature-title {
  text-align: center;
}

.signature-title .sub-title {
  font-weight: bold;
  font-size: 14px;
  color: #AE8706;
}

.signature-title .main-title {
  font-size: clamp(1.8rem, 3vw, 2.2rem);
  color: #111;
}

.signature-section>.wrap {
  display: flex;

  align-items: center;
  gap: 60px;
  flex-wrap: wrap;
  margin-top: 50px;
}

.signature-txt {
  flex: 1;
  font-size: clamp(1.2rem, 2vw, 2.2rem);
  line-height: 1.6;
}
/* ==================================================
[04]  ITEM WRAP
================================================== */

.item-wrap {
  position: relative;
  width: 100%;
  max-width: 550px;
  height: 350px;
  background-color: #E29036;
  border-radius: 30px;
  overflow: hidden;
  margin: 0 auto;
}

.menu-image {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-image.active {
  left: 0;
}

.menu-image.prev {
  left: -100%;
}

.menu-image img {
  max-height: 260px;
  width: auto;
  object-fit: contain;
  margin-bottom: 10px;
}

.menu-image div[class^="name-"] {
  color: #fff;
  font-weight: bold;
  font-size: 1.1rem;
}

/* ==================================================
[05] PROMO
================================================== */
.promo-section {
  width: min(90%, 1188px);
  margin: 90px auto;
}

.promo-container {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 50px;
  align-items: center;
}

.promo-text h2 {
  font-size: clamp(2rem, 4vw, 3.5rem);
  color: #ec8508;
  margin-bottom: 30px;
}

.why {
  white-space: nowrap;
}

.promo-text p {
  font-size: clamp(1rem, 1.4vw, 1.2rem);
  line-height: 1.7;
  white-space: normal;
}

/*애니메이션*/
/* 카드 기본 상태 (안 보임 + 아래로 이동) */
.product-card {
  opacity: 0;
  min-width: 0;
  transform: translateY(30px);
  transition: all 0.8s ease-out;
}

/* 등장할 때 */
.product-card.show {
  opacity: 1;
  transform: translateY(0);
}

/* 순차 등장 (스태거) */
.product-card:nth-child(1) {
  transition-delay: 0.15s;
}

.product-card:nth-child(2) {
  transition-delay: 0.3s;
}

.product-card:nth-child(3) {
  transition-delay: 0.45s;
}
/* ==================================================
[06]  PB PRODUCT
================================================== */

.pb-products-section .product-grid {
  width: min(1188px, 90%);
  margin: 0 auto;
}

.pb-products-section .product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  align-items: stretch;
  /* ⭐ 카드 높이 통일 */
}

.pb-products-section .product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  height: 100%;
  /* ⭐ 카드 전체 높이 동일 */
  padding-bottom: 10px;
}

.card-title {
  font-size: 2rem;
}

.pb-products-section .card-image {
  aspect-ratio: 1 / 1;
  /* ⭐ 모든 이미지 정사각형 유지 → 완전 정렬 */
  width: 312px;
  border-radius: 9%;
  border: #DBA261 solid 10px;
  overflow: hidden;
  /*background-color: #f0f0f0;*/

  /*display: flex;*/
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

/*박스3*/
.product-card .card-image {
  position: relative;
  overflow: hidden;
}

.product-card .card-image img {
  width: 64%;
  height: 100%;
  transform: scale(1.12);
  object-fit: contain;
}

/* 이미지 하단 텍스트 */
.product-card .card-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 10px 8px;
  font-size: 1.7rem;
  color: #272424;
  text-align: center;
  /*background: rgba(0, 0, 0, 0.5);*/
}

/*=============*/

.pb-products-section .card-title1,
.pb-products-section .card-title2,
.pb-products-section .card-description {
  min-height: 22px;
  /* ⭐ 텍스트 줄 수 달라도 높이 통일 */
}

.card-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  /* 두 텍스트 간격 */
}

.txt-label {
  font-size: 3rem;
  color: #1a1919;
  line-height: 1.2;
}

.txt-rank {
  font-size: 5rem;
  color: #fc9802;
  font-weight: 700;
  line-height: 1;
}


/* ==================================================
[07]  NEWS
================================================== */
.main-container {
  width: min(90%, 1188px);
  margin: 70px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bottom-news {
  flex: 0 0 32%;
  /* ⭐ 왼쪽 박스 너비 고정 */
  background: #FFD282;
  border-radius: 12px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}


.news-img {
  flex: 1;
  /* ⭐ 오른쪽이 자동 확장 */
  border-radius: 12px;
  overflow: hidden;
}

.news-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* ⭐ 꽉 차는 이미지 */
  border-radius: 12px;
}

.ds2-80 {
  color: #f13207;
  font-size: 2rem;
}
/* ==================================================
[08] 상세페이지 
================================================== */
/* 배경 */
.small-popup {
  position: fixed;
  top: 50%;
  left: 40%;
  width: auto;
  height: auto;
  animation: fadeIn .3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

@keyframes slideUp {
  from {
    transform: translateY(30px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* 팝업 박스 */
.popup-box {
  width: 441px;
  background: #fbf7f2;
  padding: 25px;
  border-radius: 10px;
  position: relative;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.popup-close {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 22px;
  border: none;
  background: none;
  cursor: pointer;
}

.popup-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #513b1c;
}

.popup-sub {
  color: #888;
  font-size: .9rem;
  margin-bottom: 20px;
}

.popup-ticket {
  background: #fff;
  border: 1px solid #dfd3c8;
  padding: 15px 10px;
  border-radius: 8px;
  margin-bottom: 15px;
}

.popup-ticket h3 {
  margin: 0;
  font-size: 1.3rem;
  color: #513b1c;
}

.popup-ticket span {
  font-size: .8rem;
  color: #777;
}

.popup-btn {
  display: block;
  padding: 12px;
  background: #d1b08a;
  color: #fff;
  border-radius: 8px;
  text-decoration: none;
  margin: 15px 0;
}

.popup-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.popup-bottom button {
  width: 48%;
  padding: 10px;
  background: #eee;
  border: none;
  border-radius: 5px;
}

.button {
  display: flex;
  align-items: center;
  background: #d79a54;
  height: auto;
  border-radius: 6px;
  font-weight: bold;
  padding: 10px 10px;
  margin: auto;
  gap: 12px;
}

.news-mda {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.18);
  font-size: clamp(0.9rem, 1.5vw, 1.1rem);
}

.news-title {
  font-weight: 700;
  font-size: 1rem;
}

.button a {
  padding: 6px 12px;
  background: #ffffff66;
  border-radius: 8px;
  font-weight: bold;
  margin-left: 10px;
  display: inline-block;
  color: #d54525;

}


/* ============================ 1024px ============================ */
@media (max-width: 1024px) {
  .main {
    max-width: 1024px;
    min-height: 700px;
  }

  .info-bar {
    width: 85%;
    height: 70px;

  }

  .notice-section,
  .store-section {
    padding: 0 2vw;
  }

  .signature-section>.wrap {
    flex-direction: column;
    text-align: center;
  }

  .signature-txt {
    margin: 0;
    text-align: center;
  }

  .promo-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .promo-text {
    margin-bottom: 30px;
  }

.small-popup {
    position: fixed;
    top: -5%;
    left: -28%;
  }

}


/* ============================ 768px ============================ */
@media (max-width: 768px) {
  .main {
    max-width: 768px;
    min-height: 600px;
  }

  .info-bar {

    height: auto;

  }

  .notice-section,
  .store-section {
    height: 45px;
  }

  .signature-txt {
    font-size: 1.2rem;
  }

  .item-wrap {
    max-width: 300px;
    height: 240px;
  }

  .menu-image img {
    max-height: 180px;
  }

  .promo-text h2 {
    font-size: 2.2rem;
  }

  .promo-text p {
    font-size: 1rem;
    white-space: normal;
  }

  .pb-products-section .product-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  /*카드뉴스*/
  .ds2{
    font-size: 0.9rem;
  }
  .ds2-80{
    font-size: 1rem;
     display: inline-block;
  border-bottom: 2px solid #333;
}

  /* ============================ 상세페이지 ============================ */
  .small-popup {
    position: fixed;
    top: -5%;
    left: -24%;
  }

  .popup-box {
    width: 393px;
  }

  /* ============================ 상세페이지 ============================ */
}

/* ============================ 480px ============================ */
@media (max-width: 480px) {
  .main {
    max-width: 480px;
    min-height: 450px;
  }

  .info-bar {
    width: 76%;
    height: auto;
    padding: 5px 0;
    flex-direction: column;
    gap: 10px;
  }

  .notice-section,
  .store-section {
    padding: 0 5%;
    justify-content: space-between;
    height: 38px;


  }

  .store-section .label {
    padding: 4px 10px;
  }

  .label {
    font-size: 1.1rem;

  }

  .title {
    padding: 0 10%;
  }

  .signature-title .main-title {
    font-size: 1.6rem;
  }

  .signature-txt {
    font-size: 1rem;
    margin: 0;
    text-align: center;
  }

  .item-wrap {
    max-width: 230px;
    height: 180px;
  }

  .menu-image img {
    max-height: 120px;
  }

  .promo-text h2 {
    font-size: 1.9rem;
  }

  .promo-container {
    gap: 20px;
  }

  .pb-products-section .product-grid {
    grid-template-columns: 1fr;
    gap: 25px;
  }

  .main-container {
    gap: 25px;
  }

  .bottom-news,
  .news-img {
    max-width: 100%;
  }
/*카드메뉴*/
.button {
  margin: 10%;
      padding: 10px 13%;
}
  /* ============================ 상세페이지 ============================ */
  .small-popup {
    position: fixed;
    top: -5%;
    left: -10%;
  }

  .popup-box {
    width: 393px;
  }

  .bottom-news {
    flex: 0 0 100%;
  }

  /* ============================ 상세페이지 ============================ */
}

/* ============================ 375px ============================ */
@media (max-width: 375px) {
  .main {
    max-width: 375px;
    min-height: 380px;
  }

  .info-bar {
    flex-direction: column;
  }

  .label {
    font-size: .9rem;
  }

  .title {
    font-size: .55rem;
  }

  .notice-section,
  .store-section {
    height: 34px;
  }

  .signature-title .main-title {
    font-size: 1.4rem;
  }

  .signature-txt {
    font-size: 0.85rem;
  }

  .item-wrap {
    max-width: 200px;
    height: 160px;
  }

  .promo-text h2 {
    font-size: 1.6rem;
  }

  .promo-text p {
    font-size: .9rem;
  }

  .pb-products-section .product-grid {
    gap: 20px;
  }

  .bottom-news {
    width: 90%;
    margin: 0 auto;
  }

  /* ============================ 상세페이지 ============================ */
  .small-popup {
    position: fixed;
    top: -5%;
    left: 1%;
  }

  .popup-box {
    width: 393px;
  }

  /* ============================ 상세페이지 ============================ */
}