/*노말라이즈*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li{
  list-style: none;
}

a{
  color: inherit;
  user-select: none;
  text-decoration: none;
}
::placeholder{
  font-family: inherit;
  font-size: inherit;
  color: #999;
}
.box1 a{
  display: flex;
  align-items: center;
}